@media (max-width: 991px) {
}
@media (max-width: 767px) {
  html {
    font-size: 2vw;
  }
  .header-menu{
    overflow: hidden;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    transform: translateX(200%);
    background-color: @primary-color;
    transition: all .5s;
    margin-top: -1.4rem;
    margin-right: -3rem;
    z-index: 99;
    padding: 6rem 3rem 0 2rem;
    & li{
        padding: 0;
        margin-bottom: 0.5rem;
        &::after{
            content: '';
            display: block;
            width: 100%;
            transform: scaleX(0);
            transform-origin: right;
            height: 1px;
            background-color: #fff;
            transition: all .5s;
            transition-delay: .5s;
        }
        & a{
            font-size: 1.5rem;
            color: #fff !important;    
        }
    }
  }
  .header-container{
    overflow: visible;
  }
  .headerTranparent{
    &.scroll .header-mobile-menu em{
        background: #0d0d0d;
    }
    & .header-mobile-menu em{
        background:#fff;
    }
  }
  .header-mobile-menu {
    width: 26px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 0rem;
    z-index: 100;    
    em {
      display: block;
      width: 100%;
      height: 2px;
      background: #0d0d0d;
      margin-top: 6px;
      transition: all .3s;
      transition-delay: .2s;
    }
    :first-child {
      margin-top: 0;
    }
    &.open {
      height: auto;
      em {
        background-color: #fff !important;
        &:nth-child(1) {
          transform: translateY(4px) rotate(45deg);
        }
        
        &:nth-child(2) {
          transform: translateY(-4px) rotate(-45deg);
        }
      }
    }
    &.open + .header-menu{
        transform: translateX(0%);
        & .header-rightline{
            display: none;
        }
        & li::after{
            transform: scaleX(100%);           
        }
    }
  }
}
@media (max-width: 575px) {
  html {
    font-size: 4vw;
  }
}
